body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

#game-area {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f0f0f0;
}

.shape {
    position: absolute;
    cursor: grab;
    touch-action: none;
}

/* Şekilleri sol tarafta yukarıdan aşağı sıralıyoruz */
#square { top: 20px; left: 20px; width: 200px; height: 200px; background-color: blue; }
#triangle { top: 2000px; left: 90px; width: 0; height: 0; border-left: 50px solid transparent; border-right: 50px solid transparent; border-bottom: 80px solid red; }
#yellow-rectangle { top: 120px; left: 20px; width: 240px; height: 50px; background-color: yellow; }
#orange-rectangle { top: 1200px; left: 20px; width: 310px; height: 30px; background-color: orange; }
#circle { top: 360px; left: 20px; width: 200px; height: 200px; background-color: green; border-radius: 50%; }
#brown-rectangle { top: 240px; left: 20px; width: 480px; height: 60px; background-color: brown; }
